parameters:
    phpVersion: 80100
    level: 8
    paths:
        - src
    parallel:
        maximumNumberOfProcesses: 1
    ignoreErrors:
        -
            message: '%Parameter #1 \$value of method Zaphyr\\HttpMessage\\Uri::sanitizeQueryOrFragment\(\) expects string, string\|null given.%'
            path: 'src/Uri.php'
        -
            message: '%Parameter #2 \$length of function fread expects int<0, max>, int given.%'
            path: 'src/Stream.php'
